@import '~bootstrap/scss/bootstrap';

body {
    background-color: #0476F2;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.home-links {
    font-size: 5rem;
}

.container .table {
    background-color: #FFFFFF;
}